"*":
  welcome:
    showOnStartup: false
  core:
    autoHideMenuBar: true
    projectHome: "/home/tom/projects"
    ignoredNames: [
      ".git"
      "*.pyc"
    ]
  editor:
    invisibles: {}
    fontFamily: "Source Code Pro"
    softWrapAtPreferredLineLength: true
    softWrap: true
    tabLength: 4
    preferredLineLength: 79
    fontSize: 16
  linter: {}
  "tree-view":
    hideIgnoredNames: true
  "linter-flake8":
    configFileNames: [
      "setup.cfg"
    ]
  racer:
    racerBinPath: "/usr/bin/racer"
    rustSrcPath: "/usr/src/rust/src/"
  "autocomplete-python": {}
  "linter-eslint": {}
  "run-command": {}
  "linter-rust": {}
".js.jsx.react.source":
  editor:
    preferredLineLength: 79
".attribute-values.js.jsx.source":
  editor:
    preferredLineLength: 79
".js.source.subtlegradient":
  editor:
    preferredLineLength: 79
".js.jsx.source":
  editor:
    preferredLineLength: 79
